main {
    background-color: goldenrod;
    color: darkgreen;
    border-radius: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

#left-game-panel {
    background-color: greenyellow;
}

#right-game-panel {
    background-color: greenyellow;
}

#choices {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}